runner
node_modules
main.js
.adk/bin/*
package-lock.json
package.json
replit.nix
http.ll
main.py
.replit
\.replit
*.replit
.adk/*
.adk/bin/*
.adk
replit.*
replit.nix
venv
venv/*
venv/bin
venv/bin/*
**/*.pyc
*.pyc
**/**/*.pyc
.replit
**/venv/bin/*
**/.adk/bin/*
**/replit.nix
**/.replit
**/*.pyc
*.pyc
.adk/bin/*
venv/bin/*
**/replit.nix
**/*.nix
**/*.replit
*/.DS_Store
.DS_Store
.vscode/*
